#app-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  padding: 20px 0;
  z-index: 200;
}

.logo {
  position: relative;
  z-index: 50;

  img {
    max-width: 180px;

    @media (min-width: map_get($grid-breakpoints, sm)) {
      max-width: 235px;
    }
  }
}



.burger-menu {
  position: relative;
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 50;

  &.active {

    .line {
      position: absolute;
      top: 50%;
      left: 50%;

      &--top {
        transform: translate(-50%, -50%) rotate(-45deg);
      }

      &--middle {
        transform: translate(-50%, -50%) rotate(45deg);
      }

      &--bottom {
        width: 0;
      }
    }
  }

  &:hover {

    .line {
      background: $primary;
    }
  }

  .line {
    width: 30px;
    height: 2px;
    margin-bottom: 4px;
    background: $dark;
    transition: .5s;
  }
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-100%);
  opacity: 0;
  transition: .5s;
  z-index: 40;

  .site-nav {

    &-list {
      display: block;

      li {
        margin-right: 0;
        margin-bottom: 30px;
        text-align: center;
      }
    }
  }

  &.active {
    transform: translateY(0);
    opacity: 1;
  }
}