body {
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

section {
    position: relative;
    overflow: hidden;
}

a {
    font-weight: bold;
    transition: .5s;
}

h1 {
    font-size: 1.8rem;

    @media (min-width: map_get($grid-breakpoints, xl)) {
        font-size: $h2-font-size;
    }
}


h2 {
    font-size: 1.8rem;

    @media (min-width: map_get($grid-breakpoints, xl)) {
        font-size: $h2-font-size;
    }
}

ul {
    margin: 0;
    @extend .list-unstyled;
}

p {
    line-height: 160%;
}

figure {
    margin: 0;
}

textarea {
    resize: none;
}