.product-price {
  display: flex;

  &-item {
    padding-right: 15px;

    @media (min-width: map_get($grid-breakpoints, sm)) {
      padding-right: 20px;
    }

    &__type {
      font-size: .875rem;
      color: $primary;
      margin-bottom: 5px;

      @media (min-width: map_get($grid-breakpoints, sm)) {
        font-size: 1rem;
      }
    }

    &__value {
      font-size: 1.125rem;
      font-weight: bold;

      @media (min-width: map_get($grid-breakpoints, sm)) {
        font-size: 1.5rem;
      }
    }

    &:last-of-type {
      padding-right: 0;

    }
  }
}

.section-subtitle {
  margin-bottom: 15px;
  font-size: 1.125rem;
  font-weight: bold;
  color: $primary;
  text-transform: uppercase;
}

.section-description {
  font-size: 1.125rem;
}

.book-item {
  &__name {
    color: $primary;
    margin-bottom: 10px;
  }

  &__text {
    font-size: 1.125rem;
    margin-bottom: 20px;
  }

  &-reviews {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;

    @media (min-width: map_get($grid-breakpoints, lg)) {
      justify-content: start;
    }

    &__stars {
      display: flex;
      margin-right: 15px;

      svg {
        margin-right: 10px;

        &:last-of-type {
          margin-right: 0;
        }
      }
    }

    &__count {
      color: $gray-200;
      font-size: .875rem;
      font-weight: bold;
    }
  }
}

.site-nav {

  &-list {

    @media (min-width: map_get($grid-breakpoints, lg)) {
      display: flex;
      align-items: center;
    }

    li {
      margin-right: 0;
      margin-bottom: 30px;
      text-align: center;

      @media (min-width: map_get($grid-breakpoints, lg)) {
        text-align: left;
        margin-right: 30px;
        margin-bottom: 0;
      }

      a {
        font-size: 1.125rem;
        color: $dark;
        font-weight: normal;
        text-transform: uppercase;

        &:hover {
          color: $primary;
        }
      }

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}